<div class="dropzone" [class.dragging]="isDragging" (click)="fileInput.click()">
  <!-- DEFAULT state -->
  <ng-container *ngIf="!fileName; else fileSelected">
    <img src="assets/upload.png" alt="" height="70px" />
    <div class="text" style="padding-top: 12px">
      <p>Drag and drop your file here</p>
      <p style="font-size: 16px">or click to browse files</p>
      <p style="font-size: 14px; color: #888">
        <i>Only csv files are accepted.</i>
      </p>
    </div>
  </ng-container>

  <!-- FILE SELECTED state -->
  <ng-template #fileSelected>
    <img src="assets/csv.png" alt="CSV File" height="70px" />
    <div class="file-info">
      <p class="file-name">{{ fileName }}</p>
      <p class="file-size">{{ fileSize }} KB</p>
    </div>
  </ng-template>

  <input
    #fileInput
    accept=".csv"
    type="file"
    hidden
    (change)="onFileSelect($event)"
  />
</div>
