.app-footer {
  width: 95%;
  margin: 20px auto;

  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.55),
    rgba(0, 0, 255, 0.38)
  ); /* subtle gradient */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  /* border: 1px solid rgba(150, 75, 0, 0.6); */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.09);
}
.app-footer p {
  font-size: 18px;
  font-weight: 600;
  color: #eee;
  text-transform: uppercase;
  margin: 0;
  text-align: right;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  letter-spacing: 3px;
}

.app-footer a {
  color: var(--color-accent);
  text-decoration: none;
  margin: 0 15px 0 0;
}

.app-footer a:hover {
  text-decoration: underline;
}
