<div class="wrapper">
  <button (click)="startSimulation()">Start Simulation</button>

  <p><strong>Status:</strong> {{ statusMessage }}</p>

  <ul>
    <li *ngFor="let prediction of predictions">
      {{ prediction.timestamp }} — <strong>{{ prediction.sampleId }}</strong> →
      <em>{{ prediction.prediction }}</em> (Confidence:
      {{ prediction.confidence }}%)
    </li>
  </ul>

  <div class="chart-filled">
    <app-line-chart-filled></app-line-chart-filled>
  </div>
  <div class="circle-stat">
    <app-circle-stat></app-circle-stat>
  </div>

  <div class="live-stats">
    <div class="card-enclosure">
      <div class="card-content">
        <h1 class="num">20</h1>
        <p class="text">TOTAL</p>
      </div>
    </div>
    <div class="card-enclosure">
      <div class="card-content">
        <h1 class="num">18</h1>
        <p class="text">PASS</p>
      </div>
    </div>
    <div class="card-enclosure">
      <div class="card-content">
        <h1 class="num">3</h1>
        <p class="text">FAIL</p>
      </div>
    </div>
    <div class="card-enclosure">
      <div class="card-content">
        <h1 class="num">92.2%</h1>
        <p class="text">AVG CONF.</p>
      </div>
    </div>
  </div>
  <div class="live-stream">
    <app-live-table></app-live-table>
  </div>
</div>
