<div class="wrapper">
  <h2 class="section-heading">Model Training & Evaluation</h2>
  <div class="wrapper-adv">
    <app-loader
      *ngIf="isLoading"
      [overlay]="false"
      [message]="'Training the model...'"
    ></app-loader>

    <div class="btn" *ngIf="!isLoading && !trainingComplete">
      <app-button
        label="Train Model"
        type="primary"
        [disabled]="false"
        (click)="startTraining()"
      ></app-button>
    </div>
    <app-errorsuccessbox
      *ngIf="showAlert"
      [type]="alertType"
      [message]="alertMessage"
    >
    </app-errorsuccessbox>

    <ng-container *ngIf="trainingComplete && !isLoading">
      <div class="grey-box">
        <div class="heading" style="padding-bottom: 20px">
          <h3>Model Performance Metrics</h3>
        </div>

        <div class="performance-matrix" *ngIf="modelTrainingResult">
          <div class="card-enclosure">
            <div class="card-content">
              <h1 class="num">
                {{ modelTrainingResult.metrics.accuracy | number : "1.1-1" }}%
              </h1>
              <p class="text">Accuracy</p>
            </div>
          </div>
          <div class="card-enclosure">
            <div class="card-content">
              <h1 class="num">
                {{ modelTrainingResult.metrics.precision | number : "1.1-1" }}%
              </h1>
              <p class="text">Precision</p>
            </div>
          </div>
          <div class="card-enclosure">
            <div class="card-content">
              <h1 class="num">
                {{ modelTrainingResult.metrics.recall | number : "1.1-1" }}%
              </h1>
              <p class="text">Recall</p>
            </div>
          </div>
          <div class="card-enclosure">
            <div class="card-content">
              <h1 class="num">
                {{ modelTrainingResult.metrics.f1Score | number : "1.1-1" }}%
              </h1>
              <p class="text">F1-Score</p>
            </div>
          </div>
        </div>
      </div>

      <div class="line-chart">
        <app-line-chart
          [trainingHistoryInput]="modelTrainingResult?.metrics?.trainingHistory"
        ></app-line-chart>
      </div>

      <div class="donut">
        <app-donut-chart
          [confusionMatrix]="modelTrainingResult?.metrics?.confusionMatrix"
        ></app-donut-chart>
      </div>

      <div class="btn">
        <app-button
          label="Next"
          type="primary"
          [disabled]="false"
          (click)="onNextClicked()"
        ></app-button>
      </div>
    </ng-container>
  </div>
</div>
