<div class="glass-container">
  <aside class="sidebar">
    <ul>
      <li [ngClass]="{ completed: pageNo > 1, active: pageNo === 1 }">
        Upload Dataset
      </li>
      <li [ngClass]="{ completed: pageNo > 2, active: pageNo === 2 }">
        Data Ranges
      </li>
      <li [ngClass]="{ completed: pageNo > 3, active: pageNo === 3 }">
        Model Training
      </li>
      <li [ngClass]="{ active: pageNo === 4 }">Simulation</li>
    </ul>
  </aside>

  <div class="content-area">
    <div class="step-counter">Step {{ pageNo }} of 4</div>
    <div class="wrapper scrollable-content" #scrollContainer>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
