<div class="wrapper">
  <h2 class="section-heading">Data Range Selection</h2>

  <div class="datepickers">
    <div class="datepicker">
      <div>Training Period</div>
      <label>Start Date:</label>
      <input type="datetime-local" step="1" [(ngModel)]="training.startDate" />
      <label>End Date:</label>
      <input type="datetime-local" step="1" [(ngModel)]="training.endDate" />
    </div>
    <div class="datepicker">
      <div>Testing Period</div>
      <label>Start Date:</label>
      <input type="datetime-local" step="1" [(ngModel)]="testing.startDate" />
      <label>End Date:</label>
      <input type="datetime-local" step="1" [(ngModel)]="testing.endDate" />
    </div>
    <div class="datepicker">
      <div>Simulation Period</div>
      <label>Start Date:</label>
      <input
        type="datetime-local"
        step="1"
        [(ngModel)]="simulation.startDate"
      />
      <label>End Date:</label>
      <input type="datetime-local" step="1" [(ngModel)]="simulation.endDate" />
    </div>
  </div>
  <app-errorsuccessbox
    *ngIf="showAlert"
    [type]="alertType"
    [message]="alertMessage"
  >
  </app-errorsuccessbox>

  <div class="loader-wrapper" *ngIf="isLoading">
    <app-loader
      [overlay]="false"
      [message]="'Uploading dataset...'"
    ></app-loader>
  </div>

  <!-- Output Box with Light Grey Background -->
  <div class="output-container" *ngIf="recordCounts">
    <div class="dateshows">
      <div class="dateshow">
        <div class="heading">Training Period</div>
        <div class="num">{{ recordCounts.training }}</div>
        <div class="date">
          {{ formatDateDisplay(training.startDate) }} →
          {{ formatDateDisplay(training.endDate) }}
        </div>
      </div>
      <div class="dateshow">
        <div class="heading">Testing Period</div>
        <div class="num">{{ recordCounts.testing }}</div>
        <div class="date">
          {{ formatDateDisplay(testing.startDate) }} →
          {{ formatDateDisplay(testing.endDate) }}
        </div>
      </div>
      <div class="dateshow">
        <div class="heading">Simulation Period</div>
        <div class="num">{{ recordCounts.simulation }}</div>
        <div class="date">
          {{ formatDateDisplay(simulation.startDate) }} →
          {{ formatDateDisplay(simulation.endDate) }}
        </div>
      </div>
    </div>
  </div>

  <!-- <app-bar-chart *ngIf="recordCounts"></app-bar-chart> -->

  <div class="btn">
    <app-button
      (click)="autoFillDateRanges()"
      label="Auto Split (70:20:10)"
    ></app-button>
    <app-button
      label="Validate Ranges"
      type="primary"
      [disabled]="false"
      (click)="validateRanges()"
    ></app-button>

    <app-button
      label="Next"
      type="primary"
      [disabled]="!isValid"
      (click)="onNextClicked()"
    ></app-button>
  </div>
</div>
